src/main/resources/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://parameta.com/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://parameta.com/soap" targetNamespace="http://parameta.com/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://parameta.com/soap">

    <xs:element name="createEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employeeType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:statusType"/>
                <xs:element name="employee" type="tns:employeeResponseType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="status" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="errors" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="identificationType" type="xs:string"/>
            <xs:element name="identification" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="employmentDate" type="xs:date"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="employeeResponseType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="identificationType" type="xs:string"/>
            <xs:element name="identification" type="xs:string"/>
            <xs:element name="birthDate" type="xs:date"/>
            <xs:element name="employmentDate" type="xs:date"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
            <xs:element name="employmentTime" type="xs:string"/>
            <xs:element name="currentAge" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createEmployeeRequest">
    <wsdl:part element="tns:createEmployeeRequest" name="createEmployeeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEmployeeResponse">
    <wsdl:part element="tns:createEmployeeResponse" name="createEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeePort">
    <wsdl:operation name="createEmployee">
      <wsdl:input message="tns:createEmployeeRequest" name="createEmployeeRequest">
    </wsdl:input>
      <wsdl:output message="tns:createEmployeeResponse" name="createEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createEmployee">
      <soap:operation soapAction=""/>
      <wsdl:input name="createEmployeeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeePortService">
    <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>